.input {
    background-color: $background-color;
    border-radius: $border-radius;
    padding: 10px;
    border: 0;
    width: 100%;
    box-sizing: border-box;
  
    &:focus {
      outline: none;
      box-shadow: 2px 2px 5px $secondary-color;
      border: 1px solid $secondary-color;
    }
    &:focus:hover {
      outline: none;
      box-shadow: 2px 2px 5px $secondary-color;
      border: 1px solid $secondary-color;
    }
  }